* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 24px;
  color: hsl(228, 45%, 44%);
}

.white-box {
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
}

.qr-code {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin: 24px 0 16px;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  padding: 0 16px 24px;
}
